<div class="container">
  <div class="row">
  <a href="#">
    <div class="col-sm-4 border">
    <img src="{{ data.object[0].image}}" height="150px" width="140px"><br>
    <span class="textCenter1">{{ data.object[0].title }}</span><br>
    <span class="textCenter2">{{ data.object[0].price }}</span>
  </div>
  </a>
  <a href="#">
    <div class="col-sm-4 border">
    <img src="{{ data.object[1].image}}" height="150px" width="140px"><br>
    <span class="textCenter1">{{ data.object[1].title }}</span><br>
    <span class="textCenter2">{{ data.object[1].price }}</span>
  </div>
  </a>
  <a href="#">
    <div class="col-sm-4 border">
    <img src="{{ data.object[2].image}}" height="150px" width="140px"><br>
    <span class="textCenter1">{{ data.object[2].title }}</span><br>
    <span class="textCenter2">{{ data.object[2].price }}</span>
  </div>
  </a>
</div>
<div class="row">
  <a href="#">
    <div class="col-sm-4 border">
    <img src="{{ data.object[4].image}}" height="150px" width="140px"><br>
    <span class="textCenter1">{{ data.object[4].title }}</span><br>
    <span class="textCenter2">{{ data.object[4].price }}</span>
  </div>
  </a>
  <a href="#">
    <div class="col-sm-4 border">
    <img src="{{ data.object[4].image}}" height="150px" width="140px"><br>
    <span class="textCenter1">{{ data.object[4].title }}</span><br>
    <span class="textCenter2">{{ data.object[4].price }}</span>
  </div>
  </a>
  <a href="#">
    <div class="col-sm-4 border">
    <img src="{{ data.object[5].image}}" height="150px" width="140px"><br>
    <span class="textCenter1">{{ data.object[5].title }}</span><br>
    <span class="textCenter2">{{ data.object[5].price }}</span>
  </div>
  </a>
</div>
<div class="row">
  <a href="#">
    <div class="col-sm-4 border">
    <img src="{{ data.object[6].image}}" height="150px" width="140px"><br>
    <span class="textCenter1">{{ data.object[6].title }}</span><br>
    <span class="textCenter2">{{ data.object[6].price }}</span>
  </div>
  </a>
  <a href="#">
    <div class="col-sm-4 border">
    <img src="{{ data.object[7].image}}" height="150px" width="140px"><br>
    <span class="textCenter1">{{ data.object[7].title }}</span><br>
    <span class="textCenter2">{{ data.object[7].price }}</span>
  </div>
  </a>
  <a href="#">
    <div class="col-sm-4 border">
    <img src="{{ data.object[8].image}}" height="150px" width="140px"><br>
    <span class="textCenter1">{{ data.object[8].title }}</span><br>
    <span class="textCenter2">{{ data.object[8].price }}</span>
  </div>
  </a>
</div>
<div class="row">
  <a href="#">
    <div class="col-sm-4 border">
    <img src="{{ data.object[9].image}}" height="150px" width="140px"><br>
    <span class="textCenter1">{{ data.object[9].title }}</span><br>
    <span class="textCenter2">{{ data.object[9].price }}</span>
  </div>
  </a>
  <a href="#">
    <div class="col-sm-4 border">
    <img src="{{ data.object[10].image}}" height="150px" width="140px"><br>
    <span class="textCenter1">{{ data.object[10].title }}</span><br>
    <span class="textCenter2">{{ data.object[10].price }}</span>
  </div>
  </a>
  <a href="#">
    <div class="col-sm-4 border">
    <img src="{{ data.object[11].image}}" height="150px" width="140px"><br>
    <span class="textCenter1">{{ data.object[11].title }}</span><br>
    <span class="textCenter2">{{ data.object[11].price }}</span>
  </div>
  </a>
</div>
</div>

